<aside class="sidebar">
  <div class="profile">
    <div class="profile-img"><i class="fa fa-user"></i></div>
    <h4>Admin</h4>
    <h2>{{ user.username }}</h2>
  </div>

  <ul class="menu">
    <li><a href="{% url 'admin_dashboard' %}" class="menu-link"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="{% url 'doctors' %}" class="menu-link"><i class="fa fa-user-md"></i> Doctors</a></li>
    <li><a href="{% url 'patients' %}" class="menu-link"><i class="fa fa-users"></i> Patients</a></li>
    <li><a href="{% url 'manage_appointments' %}" class="menu-link"><i class="fa fa-calendar-check"></i> Appointments</a></li>
    <li><a href="{% url 'emergency' %}" class="menu-link"><i class="fa fa-exclamation-triangle"></i> Emergency Cases</a></li>
    <li><a href="{% url 'ambulances' %}" class="menu-link"><i class="fa fa-ambulance"></i> Ambulances</a></li>
    <li><a href="{% url 'bills' %}" class="menu-link"><i class="fa fa-file-invoice-dollar"></i> Generate Bill</a></li>
  </ul>
</aside>
