{% extends 'hospital/admin/base_admin.html' %}
{% load static %}

{% block title %}Edit Patient{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4 px-4 pt-4">
  <h2 class="page-title">Edit Patient: {{ patient.user.fullname }}</h2>
  <a href="{% url 'patients' %}" class="btn-back">Back</a>
</div>

<div class="doctor-form-wrapper">

<form method="POST" class="doctor-form" id="updatePatientForm">
    {% csrf_token %}

    <div class="row g-4">

      <div class="col-md-6">
        <label class="form-label">Full Name</label>
        <input type="text" id="fullname" name="fullname" class="form-control" value="{{ patient.user.fullname }}" required>
        <small id="fullnameError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Father/Husband Name</label>
        <input type="text" id="guardian_name" name="guardian_name" class="form-control" value="{{ patient.guardian_name }}" required>
        <small id="guardianError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" value="{{ patient.user.email }}" required>
<small id="emailError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Phone</label>
        <input type="text" id="phone" name="phone" class="form-control" value="{{ patient.phone }}">
<small id="phoneError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Date of Birth</label>
        <input type="date" id="dob" name="dob" class="form-control" value="{{ patient.dob|date:'Y-m-d' }}" required>
<small id="dobError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Gender</label>
        <select name="gender" class="form-select">
          <option value="Male" {% if patient.gender == 'Male' %}selected{% endif %}>Male</option>
          <option value="Female" {% if patient.gender == 'Female' %}selected{% endif %}>Female</option>
          <option value="Other" {% if patient.gender == 'Other' %}selected{% endif %}>Other</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Patient Type</label>
        <select name="patient_type" class="form-select" required>
          <option value="OPD" {% if patient.patient_type == 'OPD' %}selected{% endif %}>OPD</option>
          <option value="IPD" {% if patient.patient_type == 'IPD' %}selected{% endif %}>IPD</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">CNIC</label>
        <input type="text" id="cnic" name="cnic" class="form-control" value="{{ patient.cnic }}">
<small id="cnicError" style="color:red;"></small>
      </div>

      <div class="col-md-6">
        <label class="form-label">Blood Group</label>
        <select name="blood_group" class="form-select" required>
            <option value="A+" {% if patient.blood_group == 'A+' %}selected{% endif %}>A+</option>
            <option value="A-" {% if patient.blood_group == 'A-' %}selected{% endif %}>A-</option>
            <option value="B+" {% if patient.blood_group == 'B+' %}selected{% endif %}>B+</option>
            <option value="B-" {% if patient.blood_group == 'B-' %}selected{% endif %}>B-</option>
            <option value="O+" {% if patient.blood_group == 'O+' %}selected{% endif %}>O+</option>
            <option value="O-" {% if patient.blood_group == 'O-' %}selected{% endif %}>O-</option>
            <option value="AB+" {% if patient.blood_group == 'AB+' %}selected{% endif %}>AB+</option>
            <option value="AB-" {% if patient.blood_group == 'AB-' %}selected{% endif %}>AB-</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Address</label>
        <textarea name="address" class="form-control" rows="2">{{ patient.address }}</textarea>
      </div>

    </div>

    <div class="mt-4">
      <label class="form-label">Status</label>
      <div class="d-flex gap-4">
        <label class="radio-label">
          <input type="radio" name="status" value="Active" {% if patient.status == 'Active' %}checked{% endif %}> Active
        </label>
        <label class="radio-label">
          <input type="radio" name="status" value="Inactive" {% if patient.status == 'Inactive' %}checked{% endif %}> Inactive
        </label>
      </div>
    </div>

    <div class="text-center mt-5">
      <button type="submit" class="btn-submit">
        Update Patient
      </button>
      <a href="{% url 'patients' %}" class="btn-submit text-decoration-none">Cancel</a>
    </div>

  </form>

</div>
<script>

// Today date set for DOB max
let today = new Date().toISOString().split("T")[0];
document.getElementById("dob").setAttribute("max", today);


// FULL NAME VALIDATION
document.getElementById("updatePatientForm").addEventListener("submit", function(e){
    let name = document.getElementById("fullname").value.trim();
    let error = document.getElementById("fullnameError");
    let pattern = /^[A-Za-z\s]{2,}$/;

    if(!pattern.test(name)){
        error.innerText = "Only letters and spaces allowed.";
        e.preventDefault();
    } else {
        error.innerText = "";
    }
});


// GUARDIAN NAME VALIDATION
document.getElementById("updatePatientForm").addEventListener("submit", function(e){
    let name = document.getElementById("guardian_name").value.trim();
    let error = document.getElementById("guardianError");
    let pattern = /^[A-Za-z\s]{2,}$/;

    if(!pattern.test(name)){
        error.innerText = "Only letters and spaces allowed.";
        e.preventDefault();
    } else {
        error.innerText = "";
    }
});


// EMAIL VALIDATION
document.getElementById("updatePatientForm").addEventListener("submit", function(e){
    let email = document.getElementById("email").value.trim();
    let error = document.getElementById("emailError");
    let pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if(!pattern.test(email)){
        error.innerText = "Enter valid email address.";
        e.preventDefault();
    } else {
        error.innerText = "";
    }
});


// DOB VALIDATION
document.getElementById("updatePatientForm").addEventListener("submit", function(e){
    let dob = document.getElementById("dob").value;
    let error = document.getElementById("dobError");

    let selectedDate = new Date(dob);
    let currentDate = new Date();

    if(selectedDate > currentDate){
        error.innerText = "Future date not allowed.";
        e.preventDefault();
    } else {
        error.innerText = "";
    }
});


// CNIC VALIDATION
const cnicInput = document.getElementById("cnic");

cnicInput.addEventListener("input", function(){
    if(this.value.length > 15){
        this.value = this.value.slice(0,15);
    }
});

document.getElementById("updatePatientForm").addEventListener("submit", function(e){
    let cnic = cnicInput.value.trim();
    let error = document.getElementById("cnicError");

    let pattern = /^\d{5}-\d{7}-\d{1}$/;

    if(!pattern.test(cnic)){
        error.innerText = "CNIC format XXXXX-XXXXXXX-X";
        e.preventDefault();
    } else {
        error.innerText = "";
    }
});


// PHONE VALIDATION
const phoneInput = document.getElementById("phone");

phoneInput.addEventListener("input", function(){

    if(this.value.startsWith("+92")){
        if(this.value.length > 13) this.value = this.value.slice(0,13);

    } else if(this.value.startsWith("03")){
        if(this.value.length > 11) this.value = this.value.slice(0,11);

    } else {
        if(this.value.length > 13) this.value = this.value.slice(0,13);
    }

});

document.getElementById("updatePatientForm").addEventListener("submit", function(e){

    let phone = phoneInput.value.trim();
    let error = document.getElementById("phoneError");

    let pattern = /^03[0-9]{9}$|^\+923[0-9]{9}$/;

    if(!pattern.test(phone)){
        error.innerText = "Enter valid mobile number (03XXXXXXXXX)";
        e.preventDefault();
    } else {
        error.innerText = "";
    }

});

</script>
{% endblock %}