
{% extends 'hospital/patient/base_patient.html' %}
{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

<div class="feedback-wrapper">

    <!-- Top heading -->
    <div class="feedback-header">
        <h2>Patient Feedback</h2>
        <a href="#" class="feedback-back-btn">Back</a>
    </div>

    <form method="post">
        {% csrf_token %}
        <!-- Centered Description -->
        <div class="feedback-form-center">
            <div class="mb-4">
                <textarea 
                    name="description" 
                    class="feedback-textarea form-control"
                    placeholder="Enter your feedback..." required></textarea>
            </div>
        </div>
        <!-- Centered & Lower Button -->
        <div class="feedback-submit-wrapper">
            <button type="submit" class="feedback-submit-btn">
               Submit Feedback
            </button>
        </div>

    </form>

</div>

{% endblock %}