{% extends 'hospital/patient/base_patient.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}

<section class="appointments-section profile-page">
  <div class="profile-page-wrapper">
    <div class="profile-container">

      <!-- PROFILE HEADER -->
      <div class="profile-header">
        <h3>{{ patient.user.fullname }} Patient Profile</h3>

        <div class="profile-img-wrapper">
          {% if patient.profile_image %}
            <img src="{{ patient.profile_image.url }}" class="docprofile-img">
          {% else %}
            <div class="profile-img mb-2"><i class="fa fa-user fa-2x"></i></div>
          {% endif %}
        </div>

        <form method="post" class="photo-form" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="photo" class="form-control upload-input">
          <button type="submit" class="btn-update-photo">
            <i class="fa fa-upload"></i> UPLOAD PHOTO
          </button>
        </form>
      </div>

      <!-- PATIENT INFORMATION -->
      <div class="profile-card">
        <div class="profile-card-header">
          <h5><i class="fa fa-user"></i> Patient Information</h5>
          <a href="{% url 'edit_profile' %}" class="btn-edit border border-1 border-success rounded-1">
<i class="fa fa-edit"></i> Edit
</a>
        </div>

        <div class="profile-info">
          <div class="info-row">
              <span>Full Name</span>
              <p>{{ patient.user.fullname }}</p>
          </div>
          <div class="info-row">
              <span>Father Name</span>
            <p>{{ patient.guardian_name }}</p>
          </div>
          <div class="info-row">
              <span>Date of Birth</span>
              <p>{{ patient.dob }}</p>
          </div>
          <div class="info-row">
              <span>Gender</span>
            <p>{{ patient.gender }}</p>
          </div>
          <div class="info-row">
              <span>Email</span>
           <p>{{ patient.user.email }}</p>
          </div>
          <div class="info-row">
              <span>CNIC</span>
              <p>{{ patient.cnic }}</p>
          </div>
          <div class="info-row">
              <span>Contact</span>
             <p>{{ patient.phone }}</p>
          </div>
          <div class="info-row">
              <span>Address</span>
           <p>{{ patient.address }}</p>
          </div>
          <div class="info-row">
              <span>Blood Group</span>
             <p>{{ patient.blood_group }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}