{% extends 'hospital/doctor/base_doctor.html' %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}

<section class="cards">

  <!-- Doctor Profile -->
  <a href="{% url 'profiledoc' %}" class="profile-card">
    <div class="profile-icon">
      <i class="fa fa-user-circle"></i>
    </div>
    <h3>Profile</h3>
    <p>Update Profile</p>
  </a>

  <!-- Doctor Appointments -->
  <a href="{% url 'my_appointments' %}" class="profile-card">
    <div class="profile-icon">
      <i class="fa fa-calendar-check"></i>
    </div>
    <h3>My Appointments</h3>
    <p>View Appointment History</p>
  </a>

  <!-- Doctor Schedule -->
  <a href="{% url 'schedules' %}" class="profile-card">
    <div class="profile-icon">
      <i class="fa fa-clock"></i>
    </div>
    <h3>Schedule</h3>
    <p>Manage Schedule</p>
  </a>

</section>

{% endblock %}
